.site-header {
    padding: 40px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
}

.site-logo img {
    height: 60px;
    width: auto;
}

.site-nav {
    flex: 1;
    margin-left: -50px;
}

.contact-logo {
    height: 30px;
    width: auto;
}

.content {
    display: flex;
    justify-content: center;
}

.home-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.zenbot-wrapper {
    justify-content: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.zenbot-wrapper img {
    height: 500px;
    width: auto;
}

.media-wrapper {
    position: absolute;
    display: flex;
}

.media-icons-wrapper {
    padding: 20px;
}

.left-border {
    background-color: #222;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer {
    background-color: #fff;
    margin: 0;
}