.site-header {
    padding: 40px 40px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 10;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.site-logo img {
    height: 60px;
    width: auto;
}

.site-nav {
    flex: 1;
    margin-left: -50px;
}

.contact-logo {
    height: 30px;
    width: auto;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.home-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

.zenbot-wrapper {
    /* justify-content: center; */
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: calc(1024px - 150px);
}

.zenbot-wrapper img {
    height: 600px;
    width: auto;
}

.media-wrapper {
    display: flex;
}

.media-icons-wrapper {
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: #fff;
    margin: 0;
}

.media-logo-image {
    height: 40px;
    width: auto;
    margin: 0 0 0 10px;
}

.plug-icon {
    height: 25px;
    width: auto;
    margin: 10px 0;
}

.media-logo {
    display: flex;
    align-items: center;
}

.post-list {
    width: 50%;
}


/* iPhone 4 and 4S  (portrait) ----------- */
@media (max-width: 768px) and (orientation: portrait) {
    .header-wrapper {
        justify-content: center;
    }


    .zenbot-wrapper img {
        width: 50%;
        height: auto;
    }

    .zenbot-wrapper {
        height: calc(100% - 150px);
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .header-wrapper {
        justify-content: center;
        display: flex;
    }

    .zenbot-wrapper img {
        width: 20%;
    }

    .zenbot-wrapper img {
        width: 50%;
        height: auto;
    }

    .zenbot-wrapper {
        height: calc(100% - 150px);
    }
    .post-list{
        width:90%;
    }
}

/* ----------- Iphone X Landscape ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .header-wrapper {
        justify-content: center;
        display: flex;
    }

    .zenbot-wrapper img {
        width: 80%;
        height: auto;
    }

    .zenbot-wrapper {
        height: calc(100% - 150px);
    }
    .post-list {
        width:90%;
    }
}

/* ----------- Google Pixel XL (landscape) ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
    .header-wrapper {
        justify-content: center;
        display: flex;
    }

    .zenbot-wrapper img {
        width: 20%;
        height: 30%;
    }
}

/* ----------- Google Pixel 2XL (landscape) ----------- */
@media screen and (min-device-width: 411px) and (max-device-width: 832px) and (orientation: landscape) {
    .header-wrapper {
        justify-content: center;
        display: flex;
    }

    .zenbot-wrapper img {
        width: 20%;
        height: 30%;
    }


    .zenbot-wrapper img {
        width: 50%;
        height: auto;
    }

    .zenbot-wrapper {
        height: calc(100% - 150px);
    }
}