        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <!-- {{ with .Site.Params.contactImg }}
                    <a class="" data-hint="Email" title="Email" href="mailto:{{ . }}">
                        <img class="contact-logo" src="{{ . }}" alt="zkynet.io" />
                    </a>
                    {{ end }} -->
                </div>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/index.js"></script>
    </body>
</html>
