<div class="media-wrapper">
    <div class="media-icons-wrapper">
        {{ $youtubeUrl := .Site.Params.youtubeUrl}}
        {{ $twitterUrl := .Site.Params.twitterUrl}}
        {{ $blogUrl := .Site.Params.blogUrl}}
        {{ $contactEmail := .Site.Params.contactEmail}}
        {{ $blogLogoActive := .Site.Params.blogLogoActive}}
        {{ $blogLogoInactive := .Site.Params.blogLogoInactive}}
        {{ $currentPage := . }}

        {{ range .Site.Menus.main.ByWeight }}
        <a class="media-logo" title="Blog" href="/blog">
            {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            <img class="media-logo-image" src="{{ .Pre }}" alt="Blog" />
            {{else}}
            <img class="media-logo-image" src="{{ .Post }}" alt="Blog" />
            {{end}}
        </a>
        {{ end }}
        {{ with .Site.Params.youtubeLogo }}
        <a class="media-logo" title="Youtube" href="{{ $youtubeUrl }}">
            <img class="media-logo-image" src="{{ . }}" alt="Youtube" />
        </a>
        {{end}}
        {{ with .Site.Params.twitterLogo }}
        <a class="media-logo" title="Twitter" href="{{ $twitterUrl }}">
            <img class="media-logo-image" src="{{ . }}" alt="Twitter" />
        </a>
        {{end}}
        {{ with .Site.Params.contactLogo }}
        <a class="media-logo" title="Contact" href="mailto:{{ $contactEmail }}">
            <img class="media-logo-image" src="{{ . }}" alt="contact" />
        </a>
        {{end}}
    </div>
</div>