<div class="media-wrapper">
    <div class="media-icons-wrapper">
        {{ $youtubeUrl := .Site.Params.youtubeUrl}}
        {{ $facebookUrl := .Site.Params.facebookUrl}}
        {{ $twitterUrl := .Site.Params.twitterUrl}}
        {{ $blogUrl := .Site.Params.blogUrl}}
        {{ $contactEmail := .Site.Params.contactEmail}}
        {{ $blogLogoActive := .Site.Params.blogLogoActive}}
        {{ $blogLogoInactive := .Site.Params.blogLogoInactive}}
        {{ $currentPage := . }}

        {{ range .Site.Menus.main.ByWeight }}
        <a class="media-logo" title="Blog" href="/blog">
            Blog

            <!-- {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            <img class="media-logo-image" src="{{ .Pre }}" alt="Blog" />

            <i class="fa-icon-header blog-icon ">B</i>
            {{else if eq $.Kind "page"}}
            <img class="media-logo-image" src="{{ .Pre }}" alt="Blog" />
            <i class="fa-icon-header blog-icon ">B</i>
            {{else}}
            <img class="media-logo-image" src="{{ .Post }}" alt="Blog" />
            <i class="fa-icon-header blog-icon ">B</i>
            {{end}} -->
        </a>
        {{ end }}
        {{ with .Site.Params.facebooklogo }}
        <a class="media-logo" title="Youtube" target="_blank" href="{{ $facebookUrl }}">
            <!-- <img class="media-logo-image" src="{{ . }}" alt="Facebook" />
            <i class="fa fa-icon-header facebook-icon fa-facebook"></i> -->
            Facebook
        </a>
        {{end}}
        {{ with .Site.Params.youtubeLogo }}
        <a class="media-logo" title="Youtube" target="_blank" href="{{ $youtubeUrl }}">
            <!-- <img class="media-logo-image" src="{{ . }}" alt="Youtube" />
            <i class="fa fa-icon-header youtube-icon fa-youtube-play"></i> -->
            Youtube
        </a>
        {{end}}
        {{ with .Site.Params.twitterLogo }}
        <a class="media-logo" title="Twitter" target="_blank" href="{{ $twitterUrl }}">
            <!-- <img class="media-logo-image" src="{{ . }}" alt="Twitter" />
            <i class="fa fa-icon-header twitter-icon fa-twitter"></i> -->
            Twitter
        </a>
        {{end}}
        {{ with .Site.Params.contactLogo }}
        <a class="media-logo" title="Contact" target="_blank" href="mailto:{{ $contactEmail }}">
            <!-- <img class="media-logo-image" src="{{ . }}" alt="contact" />
            <i class="fa fa-icon-header at-icon fa-at"></i> -->
            Email
        </a>
        {{end}}
    </div>
</div>